################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
#ignore bin files
**/bin
**/bin/**
**/obj
**/obj/**
**/packages
**/.vs




