
@{
    ViewBag.Title = "BruceLee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BruceLee</h2>
<h3>Lee Jun-fan (Chinese: 李振藩; November 27, 1940 – July 20, 1973), commonly known as Bruce Lee (Chinese: 李小龍), was a Hong Kong American actor, director, martial artist, martial arts instructor and philosopher.[3] He was the founder of Jeet Kune Do, a hybrid martial arts philosophy drawing from different combat disciplines that is often credited with paving the way for modern mixed martial arts (MMA). Lee is considered by commentators, critics, media, and other martial artists to be the most influential martial artist of all time and a pop culture icon of the 20th century, who bridged the gap between East and West. He is credited with helping to change the way Asians were presented in American films.</h3>

