@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anand Blog</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Life</h2>        
        <p><a class="btn btn-default" href="https://en.m.wikipedia.org/wiki/?Philosophy_of_life">Life &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FaceBook</h2>
        <p><a class="btn btn-default" href="https://www.facebook.com/">Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instagram</h2>
        <p><a class="btn btn-default" href="https://www.Instagram.com/">Instagram &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instagram</h2>
        <p><a class="btn btn-default" href="https://developer.twitter.com/">Twitter &raquo;</a></p>
    </div>
</div>