
@{
    ViewBag.Title = "RGV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RGV</h2>
<h3>Penmetsa Ram Gopal Varma (born 7 April 1962), often referred by his initials RGV, is an Indian film director, screenwriter and producer, known for his works in Telugu cinema, Bollywood, and television.[2][3][4][5] Varma directed films across multiple genres, including parallel cinema and docudrama noted for their gritty realism, technical finesse, and craft.[6][7][8][9] Regarded as one of the pioneers of new age Indian cinema,[10][11][12][13] Varma received the National Film Award for scripting the political crime drama, Shool (1999).[14] In 2004, he was featured in the BBC World series Bollywood Bosses.[15][16] In 2006, Grady Hendrix of Film Comment, published by the Film Society of Lincoln Center cited Varma as "Bombay’s Most Successful Maverick" for his works on experimental films.</h3>

